/*
color palette

Jet black #140005
Ebony     #464033
Gray      #7E7C73
Pewter    #BBC4C2
*/

/*Global styles*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #BBC4C2;
  /*color: #140005;*/
  margin: 0;
}

/*Links*/
a {
  color: #464033;
}

a:hover {
  color: #7E7C73;
  text-decoration: none;
}

footer a {
  color: #7E7C73;
}

footer a:hover {
  color: #464033;
}

.btn {
  background: #464033;
  color: #BBC4C2;
  text-decoration: none;
}

/*Home*/
.home {
  background: url("../images/black-bird.png") no-repeat;
  background-size: cover;
}

.home .content-wrapper {
  background: #BBC4C2E6;
}

/*Resume*/

/*Profile*/

/*Projects*/

/*Work experience*/

/*Footer*/
footer {
  background: #140005;
  color: #7E7C73;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-right: 1em;
}

.socials img {
  width: 32px;
}

